#myCanvas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gray;
    width: 300px;
    height: 300px;

}

h5 {
    display: flex;
    align-self: center;
    height: 10px;
    font: sans-serif;
    color: #76A08A;
}

#art {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    border-spacing: 1px;
    border-style: ridge;
    border-color: #C0C0C0;
    border-width: 1px;
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
}

.pixel {
    background-color: white;
    width: 38px;
    height: 38px;
    border-width: 1px;
    border-style: inset;
    border-color: solid #C0C0C0;
}


.fadedPink {
    background-color: #E6A2C5;
}

.lightPeriwinkle {
    background-color: #C7CEF6;
}

.dustyPink {
    background-color: #D8A49B;
}

.fadedBlue {
    background-color: #7496D2;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: flex-end;
}

.row {
    display: flex;
}

.colors {
    height: 15px;
    width: 38.5px;
    border-width: 1px;
    border-style: ridge;
    border-color: #C0C0C0;
    /* margin-top: 15px; */
    margin-bottom: 10vh;
    border-radius: 25%;


}